$color-dark: #292d32;
$color-white: #fff;
$color-black: #000;
$color-gray: #e2ecf9;
$color-gray-2: #f9fbff;
$color-gray-text: #b5b7c1;
$color-gray-select: #7e7e7e;
$color-active: #00b087;
$color-inactive: #df0404;
$color-pagination: #404b52;
$color-border: #eeeeee;
$color-pag-item: #f5f5f5;
$color-pag-active: #5932ea;
