@import "reset";
@import "variables";
@import "utils";
@import "components/status";
@import "components/spinner";

@import "pages/home.scss";
h1 {
	color: $color-dark;
}
body {
	font-family: "Poppins", sans-serif;
	background-color: #000;
}
td {
	overflow-wrap: break-word;
}
