@import "../variables";

input,
select {
	height: 38px;
	border-radius: 10px;
	border: none;
	background-color: $color-gray-2;
	outline: none;
	transition: all 0.4s;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}
input:focus,
select:focus {
	outline: 1px solid rgba(0, 0, 0, 0.2);
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.box {
	height: 812px;
	width: 968px;
	background-color: $color-white;
	box-shadow: 0 10px 60px 0 rgba($color-gray, 0.5);
	border-radius: 30px;
	padding: 44px 0 40px;
}
.header {
	padding: 0 44px 0 38px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 47px;

	&__title {
		margin-top: 7px;
		letter-spacing: 0.5px;
	}
	&__controls {
		display: flex;
		gap: 16px;
	}
	&__search {
		width: 216px;
		padding: 10px 10px 10px 40px;
		color: $color-gray-text;
	}
	&__search-wrapper {
		position: relative;
	}
	&__search-wrapper::after {
		content: "";
		background: url("../assets/svg/search.svg");
		position: absolute;
		left: 9px;
		top: 6px;
		width: 24px;
		height: 24px;
	}
	&__select-wrapper {
		position: relative;
	}
	&__select-wrapper::after {
		content: "sort by :";
		position: absolute;
		top: 9px;
		left: 15px;
		color: $color-gray-select;
		font-weight: 400;
		font-size: 12px;
		letter-spacing: -0.01em;
		line-height: 18px;
	}
	&__select {
		font-size: 12px;
		letter-spacing: -0.01em;
		font-weight: 600;
		line-height: 18px;
		padding: 10px 10px 10px 65px;
		width: 154px;
		appearance: none;
		background-image: url("../assets/svg/chevron-down.svg");
		background-repeat: no-repeat;
		background-position: right 10px top 50%, 0 0;
		background-size: 18px;
	}
}
.table {
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: 0.5px;
	position: relative;
	text-align: start;
	margin-bottom: 30px;

	&__header-row,
	&__row {
		display: flex;
		justify-content: start;
		padding: 0 44px 0 38px;
	}

	&__header-row {
		color: $color-gray-text;
		margin-bottom: 36px;
	}
	&__row {
		color: $color-dark;
		height: 69px;
		position: relative;
	}
	&__row::after {
		position: absolute;
		content: "";
		top: 44px;
		left: 40px;
		height: 1px;
		width: calc(100% - 80px);
		background-color: #eee;
	}

	// Расстояние между колонками разное, поэтому так
	&__header,
	&__cell {
		&_1 {
			width: 170px;
		}
		&_2 {
			width: 131px;
		}
		&_3 {
			width: 156px;
		}
		&_4 {
			width: 207px;
		}
		&_5 {
			width: 140px;
		}
	}
	&__header {
		text-align: start;
	}
}
.table::before {
	position: absolute;
	content: "";
	top: 36px;
	height: 1px;
	width: 100%;
	background-color: #eee;
}
